<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Terminal1{% endblock %}</title>
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <h1>Terminal1</h1>
        {% block nav %}{% endblock %}
      </nav>
    </header>

    <main>
      {% block content %}
      <h1>Terminal1</h1>
      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2024 Terminal1. All rights reserved.</p>
    </footer>

    {% block extra_js %}{% endblock %}
  </body>
</html>
